


* {
  margin: 0;
  padding: 0;
}
body{
color: black;
font-size: 10px;
text-align: center;
justify-content: center;
width: 100%;
font-family: Noto Serif Display;

}

#intro{
  background-image:url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  background-image: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
  line-height: 10px;
 

  }

  #intro h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    line-height: 0.8;
    color: white;
    padding: 10px;
 
    
    
  }
  
  #intro p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: white;
    padding-top:0px;
    line-height: 0.8;
  }
 
  

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: black
    
    

  }

  #about h2{
    font: size 25px; 
    padding-top: 10px;
    font-weight: bold;
    }
    
    #about p{
      font-size: 20px;
     
    }

#services{
  background-image:url(../assets/backgrounds/s_image.jpg);
  background-size: cover;
  background-image: center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: white;

}

#services h3{
font: size 25px; 
font-weight: bold;

}

#services p{
  font-size: 20px;

  
}



.row{
  display: flex;
  justify-content: space-around;
  box-sizing:border-box ;

}

.col-md-4{
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 200px;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 12px;
  

}
.img-fluid{
  height: 150px;
  width: 150px;
}

.hidden-content1{
  display: none;
}
.hidden-content2{
  display: none;
}
.hidden-content3{
  display: none;
}
#what-we-do h4{
  font-size:  25px; 
  font-weight: bold;
  padding: 20px;

}
#what-we-do h{
  font-size: 20px;
  font-weight: bold;
  
}

/* .content1 col-md-4{
 
} */
#what-we-do p{
  font-size: 15px;  
  
}

#portfolio{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  margin: 10px;

}

#portfolio h5{
    font-size: 20px;
    font-weight: bold;
  }
  .col-md-3 img{
   max-width: 100%;
   max-height: 100%;
   margin: 20px;
   padding: 20px;
   
  }
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
 
}

.gallery img{
  width: 250px;
  height: 250px;
  margin: 2px;

}
#overlay1{
  font-size: 20px;
}

#overlay2{
  font-size: 20px;
}
#overlay3{
  font-size: 20px;
}
#overlay4{
  font-size: 20px;
}
#overlay5{
  font-size: 20px;
}
#overlay6{
  font-size: 20px;
}
#overlay7{
  font-size: 20px;
}
#overlay8{
  font-size: 20px;
}

#contact{
  background-image:url("../assets/backgrounds/c_image.jpg");
  background-size: cover;
  background-image: center;
  background-color: transparent;
  height: 55vh;

}

#contact h6{
  font-size: 20px
  
}

input[type=text],input[type=email],#comment{
  background: transparent;
  color: white;
  font-size: 20px;
  
}

.form-control::-webkit-input-placeholder { 
  color: white; 
}
#MERGE1{

  width: 100%;
  margin: 10px;
  
}
#MERGE0{
  width: 100%;
  margin: 10px;
  
}
#comment{

  width: 100%;
  margin: 10px;
}


#footer{
margin-top: 20px;
padding-top: 20px;
margin:5px;
font-size: 20px;
font-weight: bold;
align-items: center;
}

.footer-copyright{
 font-size: 20px;
  }
   